<!DOCTYPE html>
<head>
</head>
<body>
    <div>
        <h1>Welcome to {{ app_name }}!</h1>
        <p>Dear {{ name }},</p>
        <p>Thank you for signing up. Please activate your account by clicking the link below:</p>
        <p>
            <a href="{{ activate_url }}" class="button">Activate Account</a>
        </p>
        <p>If the button above doesn't work, please copy and paste the following URL into your browser:</p>
        <p><a href="{{ activate_url }}">{{ activate_url }}</a></p>
    </div>
</body>
</html>