<!DOCTYPE html>
<head>
</head>
<body>
    <div>
        <img src="#" alt="logo" class="logo">
        <p>Dear {{ name }},</p>
        <p>Click on the below link to reset your password.</p>
        <p>
            <a href="{{ activate_url }}" class="button">Reset Password</a>
        </p>
        <p>If the button above doesn't work, please copy and paste the following URL into your browser:</p>
        <p><a href="{{ activate_url }}">{{ activate_url }}</a></p>
        
        <p>{{ app_name }}</p>
    </div>
</body>
</html>